---
interface Props {
    patternType: string;
}

const { patternType } = Astro.props;
---

<div 
    class="pattern-selector flex items-center justify-center rounded-[8px] w-full max-md:max-w-[100%] md:w-[450px] h-auto p-1 cursor-pointer max-md:h-[180px]"
    pattern-type={patternType}
>
    <slot />
</div>
