---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="">
	<h1 class="text-[64px] text-center p-6 font-bold">
		Sphinx of black quartz, judge my vow.
	</h1>
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p>
			{body}
		</p>
	</a>
</div>
